body {
  background-image: url(/img/background-stars.svg);
  background-attachment: fixed;
  background-color: #070724;
  color: white;
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  font-weight: 500;
}

h3 {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
  font-weight: 700;
}

h4 {
  font-family: "Spartan", sans-serif;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 700;
}

.headline {
  border-bottom: 1px solid #979797a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

nav {
  background-color: #070724;
  position: sticky;
  top: 0;
  height: 73.3px;
  transition: height 0.4s ease;
}

.hamburger {
  padding: 0;
  display: flex;
}

.nav_list {
  list-style: none;
  color: white;
  padding: 0px;
  padding-left: 20px;
  margin: 0;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.1s ease, margin 0.4s ease;
}

.nav_list_open_body .nav_list {
  margin-top: 16px;
  visibility: visible;
  max-height: 9000px;
  opacity: 1;
}

.nav_list_open_body nav {
  height: 100vh;
  overflow: auto;
}

.nav_list_open_body {
  overflow: hidden;
}

.nav_list li {
  border-bottom: 1px solid #97979759;
  width: 94%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav_list li:last-child {
  border-bottom: 0px;
}

.planet-menu {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-right: 30px;
}

.planetNav {
  display: flex;
}

.nav_list a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}

.arrow {
  margin-right: 5px;
}

#spanmercury {
  background-color: #def4fc;
}
#spanvenus {
  background-color: #f7cc7f;
}
#spanearth {
  background-color: #545bfe;
}
#spanmars {
  background-color: #ff6a45;
}
#spanjupiter {
  background-color: #ecad7a;
}
#spansaturn {
  background-color: #fccb6b;
}
#spanuranus {
  background-color: #65f0d5;
}
#spanneptune {
  background-color: #497efa;
}

.submenu {
  border-bottom: 1px solid #979797a6;
  display: flex;
  justify-content: space-evenly;
}
.contentButton {
  color: #838391;
  background: none;
  border: none;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.93px;
  text-transform: uppercase;
  padding: 17px 5px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: all 0.4s ease;
}

.contentButton:hover {
  border-bottom: 4px solid #419ebb;
  cursor: pointer;
  color: white;
}

#mercury-buttons .contentButton:hover {
  border-bottom: 4px solid #419ebb;
}
#venus-buttons .contentButton:hover {
  border-bottom: 4px solid #eda249;
}
#earth-buttons .contentButton:hover {
  border-bottom: 4px solid #6d2ed5;
}
#mars-buttons .contentButton:hover {
  border-bottom: 4px solid #d14c32;
}
#jupiter-buttons .contentButton:hover {
  border-bottom: 4px solid #d83a34;
}
#saturn-buttons .contentButton:hover {
  border-bottom: 4px solid #cd5120;
}
#uranus-buttons .contentButton:hover {
  border-bottom: 4px solid #1ec1a2;
}
#neptune-buttons .contentButton:hover {
  border-bottom: 4px solid #2d68f0;
}
