<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs %>
  </head>
  <body class="preload">
    <% include partials/_header.ejs %>
    <main><% include partials/_content.ejs %></main>
    <% include partials/_footer.ejs %>
  </body>
</html>
